<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Application | Home</title>
    <meta charset="UTF-8">
        <!-- favicon -->
        <!-- <link rel="shortcut icon" href="/assets/img/favicon.ico" type="image/x-icon"> -->
        <!-- <link rel="icon" href="/assets/img/favicon.ico" type="image/x-icon"> -->
        <link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicon-32x32.png">
        <!-- bootstrap css cdn -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
        <!-- css stylesheet -->
        <link rel="stylesheet" href="css/style.css">
        <!-- font styles cdn -->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Alegreya&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Alegreya:wght@600&display=swap" rel="stylesheet">
</head>
<body>
        <!-- bootstrap navbar -->
        <nav class="navbar sticky-top navbar-expand-lg navbar-light">
            <div class="container-fluid">
              <a class="main-logo-img mt-3" href="#"><img src="static/img/smartinternz.png" alt="sheep-logo" height="50px" width="180px">
                <!-- <a class="navbar-brand" href="index.html">JobPortal</a> -->
              </a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              
              <div class="row donate-sponsor">
                <a type="button" class="btn btn-success mr-1" id="donate" href="/logout">LOGOUT</a>
                <a type="button" class="btn btn-warning mr-1" id="sponsor" href="register">REGISTER</a>
               
              </div>
            </div>
          </nav>
          <!-- navbar ends -->

        <!-- what we focus on -->
        <section class="our-focus">
            <div class="container">
              <h2 class="text-center mt-3">Available Jobs</h2>
              <div class="row ml-3 mt-3">
                <div class="col-lg-3 mr-5" id="focus-first">
                  <div class="card" style="width: 20rem;">
                    <!-- <img src="assets/img/home kids.jpg" class="card-img-top" alt="..."> -->
                    <div class="card-body">
                      <h5 class="card-title">Python</h5><p> Full-time Intermediate level</p>
                      <p class="card-text">Infosys<br>
                        Location:Bangalore<br>
                        Experience Required:Fresher<br>
                        Salary:4-5 LPA <br>
                        Number of openings:70 
                       
                    </p>
                      <a href="apply" class="btn btn-primary">Apply Now</a>
                    </div>
                  </div>
                </div>
                <div class="col-lg-3 mr-5" id="focus-second">
                  <div class="card" style="width: 20rem;">
                    <!-- <img src="assets/img/friendship day.JPG" class="card-img-top" alt="..."> -->
                    <div class="card-body">
                      <h5 class="card-title">Data Scientist</h5><p> Full-time Associative level</p>
                      <p class="card-text">Renault Nissan Technology<br>
                        Location:Delhi<br>
                        Experience Required:Minimum 2 years<br>
                        Salary:7-8 LPA <br>
                        Number of openings:40 </p>
                       
                        <a href="apply" class="btn btn-primary">Apply Now</a>
                    </div>
                  </div>
                </div>
                <div class="col-lg-3 ml-5" id="focus-third">
                  <div class="card" style="width: 20rem;">
                    <!-- <img src="assets/img/health camp.jpg" class="card-img-top" alt="..."> -->
                    <div class="card-body">
                      <h5 class="card-title">HR Manager</h5><p>Full-time Fresher</p>
                      <p class="card-text">WUElev8-Where you Elevate<br>
                        Location:Noida,Uttar Pradesh<br>
                        Experience Required:Fresher<br>
                        Salary:5-6 LPA <br>
                        Number of openings:60 </p>
                      
                        <a href="apply" class="btn btn-primary">Apply Now</a>
                    </div>
                  </div>
                </div>

                <div class="col-lg-3 ml-5" id="focus-first">
                  <div class="card" style="width: 20rem;">
                    <!-- <img src="assets/img/health camp.jpg" class="card-img-top" alt="..."> -->
                    <div class="card-body">
                      <h5 class="card-title">Java Developer</h5><p>Full-time Intermediate level</p>
                      <p class="card-text">Ins Software Inc. <br>
                        Location:Noida,Uttar Pradesh<br>
                        Experience required:Minimum 2 years<br>
                        Salary:4-5 LPA<br>
                        Number of openings:80
                       </p>
                        <a href="apply" class="btn btn-primary">Apply Now</a>
                    </div>
                  </div>
                </div>

                <div class="col-lg-3 ml-5" id="focus-second">
                  <div class="card" style="width: 20rem;">
                    <!-- <img src="assets/img/health camp.jpg" class="card-img-top" alt="..."> -->
                    <div class="card-body">
                      <h5 class="card-title">Network Administrator</h5><p>Full-time Associate</p>
                      <p class="card-text">Tata Consultancy Services <br>
                        Location:Chennai<br>
                        Experience required:Minimum 3 years<br>
                        Salary:4-5 LPA<br>
                        Number of openings:50
                       </p>
                        <a href="apply" class="btn btn-primary">Apply Now</a>
                    </div>
                  </div>
                </div>

                <div class="col-lg-3 ml-5" id="focus-sixth">
                  <div class="card" style="width: 20rem;">
                    <!-- <img src="assets/img/health camp.jpg" class="card-img-top" alt="..."> -->
                    <div class="card-body">
                      <h5 class="card-title">Cloud Engineer</h5><p>Full-time Expert level</p>
                      <p class="card-text">Microsoft <br>
                        Location:Hyderabad<br>
                        Experience required:Minimum 8 years<br>
                        Salary:20-25 LPA<br>
                        Number of openings:70
                       </p>
                        <a href="apply" class="btn btn-primary">Apply Now</a>
                    </div>
                  </div>
                </div>

                <div class="col-lg-3 ml-5" id="focus-seventh">
                  <div class="card" style="width: 20rem;">
                    <!-- <img src="assets/img/health camp.jpg" class="card-img-top" alt="..."> -->
                    <div class="card-body">
                      <h5 class="card-title"><h5>Network Administrator</h5><p>Full-time</p>
                      <p class="card-text">IBM <br>
                        Location:Chennai<br>
                        Experience required:Minimum 2 years<br>
                        Salary:4-5 LPA<br>
                        Number of openings:55
                       </p>
                        <a href="apply" class="btn btn-primary">Apply Now</a>
                    </div>
                  </div>
                </div>

                <div class="col-lg-3 ml-5" id="focus-eighth">
                  <div class="card" style="width: 20rem;">
                    <!-- <img src="assets/img/health camp.jpg" class="card-img-top" alt="..."> -->
                    <div class="card-body">
                      <h5 class="card-title">Full Stack Developer</h5><p>Full-time Intermediate level</p>
                      <p class="card-text">C Tech<br>
                        Location:Chennai<br>
                        Experience required:Fresher<br>
                        Salary:4.5-6 LPA<br>
                        Number of openings:95
                       </p>
                        <a href="apply" class="btn btn-primary">Apply Now</a>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </section>
          <!-- focus section ends -->

        <!-- footer starts -->
          <!-- Site footer -->
          </body>
</html>